always-auth=true
registry=https://registry.npmjs.org/
_authToken=d4fd8872d10ad51208b8f9aa166329e6e46b253b
@dioas:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=d4fd8872d10ad51208b8f9aa166329e6e46b253b